<html ng-app="wooweb">
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
		<script>
			angular.module('wooweb', []).controller('twitter', ['$scope', function($scope) {
			  $scope.woo = 'Hello Wooweb';
			  $scope.woots = ['first','second'];
			  $scope.addWoot = function(){
			  	console.log('adding a woot');
			  	$scope.woots.push($scope.woo);
			  	$scope.woo = '';
			  }
			  $scope.removeWoot = function(woot){
     			var index = $scope.woots.indexOf(woot);
			  	$scope.woots.splice(index,1);
			  }
			}]);
		</script>
	</head>
	<body>
          <div ng-controller="twitter">
           <input type='text' ng-model='woo' />
           <button ng-click='addWoot()'>Woo</button>
           <ul>
           	<li ng-repeat='woot in woots'>{{woot}} <a ng-click='removeWoot(woot)' >-</a></li>
           </ul>
          </div>
	</body>
</html>
