<html ng-app="wooweb">
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
		<script>
			var app = angular.module('wooweb', []);

			app.controller('twitter', ['$scope', '$http', function($scope, $http) {
			  $scope.woots = ['first','second'];

			  $scope.addWoot = function(){
			  	$scope.woots.push($scope.woo);
			  	$scope.woo = '';
			  }

			  $scope.fuckWoo = function() {
			  	$http.get('http://foaas.herokuapp.com/off/'+$scope.woo+'/WooWeb').success(function(data, status) {
			  			$scope.woots.push(data.message);
			  		});
			  }

			  $scope.removeWoot = function(index, woot) {
			  	$scope.woots.splice(index,1);
			  }

			}]);
		</script>
	</head>
	<body>
          <div ng-controller="twitter">
          	<form name="wooweb">
           <input type='text' ng-model='woo' required />
           <button ng-click='addWoot()'>Don't Fuck</button>
           <button ng-click='fuckWoo()'>Fuck Who?</button>

           <input type="text" ng-model='search' name="search" />
       </form>
           <ul>
           	<li ng-repeat='woot in woots | filter: search track by $index'>{{$index}} {{woot}} <a ng-click='removeWoot($index, woot)' >[Remove]</a></li>
           </ul>
			{{search}}
           <ng-pluralize count="woots.length" when = "{'0':'No Fucks At all :( :(', 'one': 'one person is fucking', 'other': '{} people are fucking.'}"></ng-pluralize>

          </div>
	</body>
</html>
